{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
    <h1>Create new Contact</h1>

    <div class="cell align-center-middle">
    {{ include('contact/_form.html.twig') }}
    </div>
    <a href="{{ path('contact_index') }}" class="button dark">back to list</a>
{% endblock %}
