<header>
    <h1>Address book</h1>
    <div class='nav'>
        <ul class="menu">
            <li><a href="{{ path('home') }}" class="button">Home</a></li>
            <li><a href="{{ path('contact_index') }}" class="button">Contact list</a></li>
            <li><a href="{{ path('contact_new') }}" class="button">Add new contact</a></li>

        </ul>
    </div>

</header>